*.class
*.log
.bloop/bloop.settings.json
.bloop/sparkRDD-test.json
.bloop/sparkRDD.json
.metals/metals.lock.db
.metals/metals.mv.db
.vscode/settings.json
project/build.properties
project/metals.sbt
project/.bloop/bloop.settings.json
project/.bloop/spark-example-ezmeral-data-fabric-build.json
project/project/metals.sbt
project/project/.bloop/bloop.settings.json
project/project/.bloop/spark-example-ezmeral-data-fabric-build-build.json
project/project/project/metals.sbt
project/project/project/project/target/config-classes/$2fd0dbee1c55cec1152b.cache
project/project/project/target/config-classes/$eca8b6ead9ea355f0763.cache
project/project/project/target/scala-2.12/sbt-1.0/sync/copy-resource
project/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/project/project/target/streams/_global/_global/_global/streams/out
project/project/project/target/streams/_global/_global/csrLogger/_global/streams/out
project/project/project/target/streams/_global/csrConfiguration/_global/streams/out
project/project/project/target/streams/_global/csrProject/_global/streams/out
project/project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
project/project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/project/project/target/streams/_global/ivyConfiguration/_global/streams/out
project/project/project/target/streams/_global/ivySbt/_global/streams/out
project/project/project/target/streams/_global/moduleSettings/_global/streams/out
project/project/project/target/streams/_global/projectDescriptors/_global/streams/out
project/project/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
project/project/project/target/streams/_global/update/_global/streams/out
project/project/project/target/streams/compile/_global/_global/compileOutputs/previous
project/project/project/target/streams/compile/_global/_global/discoveredMainClasses/data
project/project/project/target/streams/compile/bspReporter/_global/streams/out
project/project/project/target/streams/compile/compile/_global/streams/out
project/project/project/target/streams/compile/compileIncremental/_global/streams/export
project/project/project/target/streams/compile/compileIncremental/_global/streams/out
project/project/project/target/streams/compile/copyResources/_global/streams/out
project/project/project/target/streams/compile/dependencyClasspath/_global/streams/export
project/project/project/target/streams/compile/exportedProducts/_global/streams/export
project/project/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/project/project/target/streams/compile/incOptions/_global/streams/out
project/project/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
project/project/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
project/project/project/target/streams/compile/managedClasspath/_global/streams/export
project/project/project/target/streams/compile/scalacOptions/_global/streams/out
project/project/project/target/streams/compile/unmanagedClasspath/_global/streams/export
project/project/project/target/streams/compile/unmanagedClasspath/_global/streams/out
project/project/project/target/streams/compile/unmanagedJars/_global/streams/export
project/project/project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/project/project/target/streams/runtime/exportedProducts/_global/streams/export
project/project/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/project/project/target/streams/runtime/fullClasspath/_global/streams/export
project/project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
project/project/project/target/streams/runtime/managedClasspath/_global/streams/export
project/project/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
project/project/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
project/project/project/target/streams/runtime/unmanagedJars/_global/streams/export
project/project/target/config-classes/$4ce1b366948ca0578277.cache
project/project/target/config-classes/$f8c976aaf9ba7ccdf1df.cache
project/project/target/scala-2.12/sbt-1.0/sync/copy-resource
project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/project/target/streams/_global/_global/_global/streams/out
project/project/target/streams/_global/_global/csrLogger/_global/streams/out
project/project/target/streams/_global/csrConfiguration/_global/streams/out
project/project/target/streams/_global/csrProject/_global/streams/out
project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/project/target/streams/_global/ivyConfiguration/_global/streams/out
project/project/target/streams/_global/ivySbt/_global/streams/out
project/project/target/streams/_global/moduleSettings/_global/streams/out
project/project/target/streams/_global/projectDescriptors/_global/streams/out
project/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
project/project/target/streams/_global/update/_global/streams/out
project/project/target/streams/_global/updateClassifiers/_global/streams/out
project/project/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/inputs
project/project/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/output
project/project/target/streams/_global/updateSbtClassifiers/_global/streams/out
project/project/target/streams/compile/_global/_global/compileOutputs/previous
project/project/target/streams/compile/_global/_global/discoveredMainClasses/data
project/project/target/streams/compile/bloopGenerate/_global/streams/out
project/project/target/streams/compile/bloopPostGenerate/_global/streams/out
project/project/target/streams/compile/bspReporter/_global/streams/out
project/project/target/streams/compile/compile/_global/streams/out
project/project/target/streams/compile/compileIncremental/_global/streams/export
project/project/target/streams/compile/compileIncremental/_global/streams/out
project/project/target/streams/compile/copyResources/_global/streams/out
project/project/target/streams/compile/dependencyClasspath/_global/streams/export
project/project/target/streams/compile/exportedProducts/_global/streams/export
project/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/project/target/streams/compile/incOptions/_global/streams/out
project/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
project/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
project/project/target/streams/compile/managedClasspath/_global/streams/export
project/project/target/streams/compile/scalacOptions/_global/streams/out
project/project/target/streams/compile/unmanagedClasspath/_global/streams/export
project/project/target/streams/compile/unmanagedClasspath/_global/streams/out
project/project/target/streams/compile/unmanagedJars/_global/streams/export
project/project/target/streams/it/bloopGenerate/_global/streams/out
project/project/target/streams/it/bloopPostGenerate/_global/streams/out
project/project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/project/target/streams/runtime/exportedProducts/_global/streams/export
project/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/project/target/streams/runtime/fullClasspath/_global/streams/export
project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
project/project/target/streams/runtime/managedClasspath/_global/streams/export
project/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
project/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
project/project/target/streams/runtime/unmanagedJars/_global/streams/export
project/project/target/streams/test/bloopGenerate/_global/streams/out
project/project/target/streams/test/bloopPostGenerate/_global/streams/out
project/target/config-classes/$1c08e47359d4198b5cf0.cache
project/target/config-classes/$38f7bf977114ee91c611.cache
project/target/config-classes/$426c14845657ac6cfcae.cache
project/target/config-classes/$d3bbe635e716ac0f91bf.cache
project/target/config-classes/$f403ae0cd06281f3006d.cache
project/target/scala-2.12/sbt-1.0/sync/copy-resource
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/target/streams/_global/_global/_global/streams/out
project/target/streams/_global/_global/csrLogger/_global/streams/out
project/target/streams/_global/csrConfiguration/_global/streams/out
project/target/streams/_global/csrProject/_global/streams/out
project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/target/streams/_global/ivyConfiguration/_global/streams/out
project/target/streams/_global/ivySbt/_global/streams/out
project/target/streams/_global/moduleSettings/_global/streams/out
project/target/streams/_global/projectDescriptors/_global/streams/out
project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
project/target/streams/_global/update/_global/streams/out
project/target/streams/_global/updateClassifiers/_global/streams/out
project/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/inputs
project/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/output
project/target/streams/_global/updateSbtClassifiers/_global/streams/out
project/target/streams/compile/_global/_global/compileOutputs/previous
project/target/streams/compile/_global/_global/discoveredMainClasses/data
project/target/streams/compile/bloopGenerate/_global/streams/out
project/target/streams/compile/bloopPostGenerate/_global/streams/out
project/target/streams/compile/bspReporter/_global/streams/out
project/target/streams/compile/compile/_global/streams/out
project/target/streams/compile/compileIncremental/_global/streams/export
project/target/streams/compile/compileIncremental/_global/streams/out
project/target/streams/compile/copyResources/_global/streams/out
project/target/streams/compile/dependencyClasspath/_global/streams/export
project/target/streams/compile/exportedProducts/_global/streams/export
project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/target/streams/compile/incOptions/_global/streams/out
project/target/streams/compile/internalDependencyClasspath/_global/streams/export
project/target/streams/compile/internalDependencyClasspath/_global/streams/out
project/target/streams/compile/managedClasspath/_global/streams/export
project/target/streams/compile/scalacOptions/_global/streams/out
project/target/streams/compile/unmanagedClasspath/_global/streams/export
project/target/streams/compile/unmanagedClasspath/_global/streams/out
project/target/streams/compile/unmanagedJars/_global/streams/export
project/target/streams/it/bloopGenerate/_global/streams/out
project/target/streams/it/bloopPostGenerate/_global/streams/out
project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/target/streams/runtime/exportedProducts/_global/streams/export
project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/target/streams/runtime/fullClasspath/_global/streams/export
project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
project/target/streams/runtime/managedClasspath/_global/streams/export
project/target/streams/runtime/unmanagedClasspath/_global/streams/export
project/target/streams/runtime/unmanagedClasspath/_global/streams/out
project/target/streams/runtime/unmanagedJars/_global/streams/export
project/target/streams/test/bloopGenerate/_global/streams/out
project/target/streams/test/bloopPostGenerate/_global/streams/out
target/scala-2.12/update/update_cache_2.12/inputs
target/scala-2.12/update/update_cache_2.12/output
target/streams/_global/_global/csrLogger/_global/streams/out
target/streams/_global/csrConfiguration/_global/streams/out
target/streams/_global/csrProject/_global/streams/out
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
target/streams/_global/ivyConfiguration/_global/streams/out
target/streams/_global/ivySbt/_global/streams/out
target/streams/_global/moduleSettings/_global/streams/out
target/streams/_global/projectDescriptors/_global/streams/out
target/streams/_global/update/_global/streams/out
target/streams/_global/updateClassifiers/_global/streams/out
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/inputs
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/output
target/streams/compile/bloopGenerate/_global/streams/out
target/streams/compile/bloopPostGenerate/_global/streams/out
target/streams/compile/externalDependencyClasspath/_global/streams/export
target/streams/compile/managedClasspath/_global/streams/export
target/streams/compile/scalacOptions/_global/streams/out
target/streams/compile/unmanagedClasspath/_global/streams/export
target/streams/compile/unmanagedClasspath/_global/streams/out
target/streams/compile/unmanagedJars/_global/streams/export
target/streams/it/bloopGenerate/_global/streams/out
target/streams/it/bloopPostGenerate/_global/streams/out
target/streams/runtime/unmanagedJars/_global/streams/export
target/streams/test/bloopGenerate/_global/streams/out
target/streams/test/bloopPostGenerate/_global/streams/out
target/streams/test/externalDependencyClasspath/_global/streams/export
target/streams/test/managedClasspath/_global/streams/export
target/streams/test/scalacOptions/_global/streams/out
target/streams/test/unmanagedClasspath/_global/streams/export
target/streams/test/unmanagedClasspath/_global/streams/out
target/streams/test/unmanagedJars/_global/streams/export
.bloop/sparkRDD/sparkRDD-analysis.bin
.bloop/sparkRDD/bloop-bsp-clients-classes/classes-Metals-jTN8Bwp_Qiimkv7xi9yRQg==/META-INF/semanticdb/src/main/scala/shouneng/RddAggregateByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-bsp-clients-classes/classes-Metals-jTN8Bwp_Qiimkv7xi9yRQg==/META-INF/semanticdb/src/main/scala/shouneng/RddGroupByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-bsp-clients-classes/classes-Metals-jTN8Bwp_Qiimkv7xi9yRQg==/META-INF/semanticdb/src/main/scala/shouneng/RddNeighboringWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-bsp-clients-classes/classes-Metals-jTN8Bwp_Qiimkv7xi9yRQg==/META-INF/semanticdb/src/main/scala/shouneng/RddReduceByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jTN8Bwp_Qiimkv7xi9yRQg==-mFVAiTtfSgS_gCumBAUQXQ==/META-INF/semanticdb/src/main/scala/shouneng/RddAggregateByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jTN8Bwp_Qiimkv7xi9yRQg==-mFVAiTtfSgS_gCumBAUQXQ==/META-INF/semanticdb/src/main/scala/shouneng/RddGroupByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jTN8Bwp_Qiimkv7xi9yRQg==-mFVAiTtfSgS_gCumBAUQXQ==/META-INF/semanticdb/src/main/scala/shouneng/RddNeighboringWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jTN8Bwp_Qiimkv7xi9yRQg==-mFVAiTtfSgS_gCumBAUQXQ==/META-INF/semanticdb/src/main/scala/shouneng/RddReduceByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-bsp-clients-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==/META-INF/semanticdb/src/main/scala/shouneng/RddAggregateByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-bsp-clients-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==/META-INF/semanticdb/src/main/scala/shouneng/RddGroupByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-bsp-clients-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==/META-INF/semanticdb/src/main/scala/shouneng/RddNeighboringWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-bsp-clients-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==/META-INF/semanticdb/src/main/scala/shouneng/RddReduceByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==-mNAwSEE5QZ6BzEwh4TanUg==/META-INF/semanticdb/src/main/scala/shouneng/RddAggregateByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==-mNAwSEE5QZ6BzEwh4TanUg==/META-INF/semanticdb/src/main/scala/shouneng/RddGroupByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==-mNAwSEE5QZ6BzEwh4TanUg==/META-INF/semanticdb/src/main/scala/shouneng/RddNeighboringWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==-mNAwSEE5QZ6BzEwh4TanUg==/META-INF/semanticdb/src/main/scala/shouneng/RddReduceByKeyWordCount.scala.semanticdb
project/target/config-classes/$4cb48f94c5109397c510.cache
project/target/config-classes/$483aefe5050ab3d79642.cache
project/target/config-classes/$60568916ea34f9c957dd.cache
project/target/config-classes/$656381228d7ebc9e6fdb.cache
project/target/config-classes/$b320c4b8dc89853bbe59.cache
target/scala-2.13/update/update_cache_2.13/inputs
target/scala-2.13/update/update_cache_2.13/output
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/inputs
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/output
.scalafmt.conf
.bloop/sparkRDD/bloop-bsp-clients-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==/META-INF/semanticdb/src/main/scala/shouneng/package.scala.semanticdb
.bloop/sparkRDD/bloop-bsp-clients-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==/META-INF/semanticdb/src/main/scala/shouneng/RddWordCountCollect.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==-_MelVVBrTl214AWE1Vm-eQ==/META-INF/semanticdb/src/main/scala/shouneng/package.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==-_MelVVBrTl214AWE1Vm-eQ==/META-INF/semanticdb/src/main/scala/shouneng/RddAggregateByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==-_MelVVBrTl214AWE1Vm-eQ==/META-INF/semanticdb/src/main/scala/shouneng/RddGroupByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==-_MelVVBrTl214AWE1Vm-eQ==/META-INF/semanticdb/src/main/scala/shouneng/RddNeighboringWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==-_MelVVBrTl214AWE1Vm-eQ==/META-INF/semanticdb/src/main/scala/shouneng/RddReduceByKeyWordCount.scala.semanticdb
.bloop/sparkRDD/bloop-internal-classes/classes-Metals-jcMRFL17QDmRarpCbd8_Cg==-_MelVVBrTl214AWE1Vm-eQ==/META-INF/semanticdb/src/main/scala/shouneng/RddWordCountCollect.scala.semanticdb
